{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card_body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis provident, quod nostrum perferendis, vel expedita nisi possimus eum, dolor dolores a rem! Itaque vero sint corporis qui ea assumenda numquam doloribus dicta, magni aut? Asperiores sapiente illo ratione perspiciatis velit inventore in, odio illum ullam rem accusantium eum esse neque harum eaque, recusandae officiis quae, rerum soluta! Voluptatem repudiandae voluptatibus maiores inventore architecto repellendus voluptate eos ad itaque sapiente, quia accusamus debitis nam perferendis nobis iste. Id dolor ea, culpa aut, quia nesciunt facere accusamus possimus soluta impedit assumenda, debitis minima omnis odio. Quam minus mollitia ratione ipsam vel odio.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>     
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}